:root {
  --title: #212121;
  --white-title: #ffffff;
  --main-text: #757575;
  --accent: #2196f3;
  --active-btn-color: #2196f3;
  --active-btn-text: #ffffff;
  --unactive-btn-bg: #f5f4fa;
  --unactive-btn-text: #212121;
  --background: #2f303a;
  --second-bg: #f5f4fa;
  --social-btn-bg-frst: #ffffff;
  --social-btn-fill-frst: #afb1b8;
  --clients-icon: #afb1b8;
  --social-btn-bg-scnd: rgba(255, 255, 255, 0.1);
  --social-btn-fill-scnd: #ffffff;
  --modal-bg: #ffffff;
  --scnd-active-btn-bg: #188ce8;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-link.current {
  color: var(--accent);
  position: relative;
}

.header-link.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--accent);
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
}
/* ---------------------HEADER--------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
  margin-right: 92px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-logo {
  color: #000;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent);
  fill: currentColor;
}

.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------------------HERO--------------------- */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background);
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-title);
  margin-bottom: 30px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-btn-text);
  background-color: var(--active-btn-color);
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--scnd-active-btn-bg);
}

/* ---------------------FEATURES--------------------- */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.features-list {
  display: flex;
}

.features-icon-list {
  display: flex;
  margin-bottom: 30px;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-container {
  background-color: var(--second-bg);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.icon-features {
  width: 70px;
  height: 70px;
}

/* ---------------------ABOUT--------------------- */
.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  width: 370px;
  position: relative;
}

.about-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ---------------------TEAM--------------------- */

.team {
  background-color: var(--second-bg);
}

.team-top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-text-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  width: 270px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-button {
  background-color: var(--social-btn-bg-frst);
  fill: var(--social-btn-fill-frst);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.icon-team-social {
  width: 20px;
  height: 20px;
}

.team-social-button:hover,
.team-social-button:focus {
  background-color: var(--active-btn-color);
  fill: var(--active-btn-text);
}

/* ---------------------CLIENTS--------------------- */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-icon);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clients-icon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  width: 106px;
  height: 60px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent);
  fill: var(--accent);
}

/* ---------------------FOOTER--------------------- */

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.second-footer-logo {
  color: var(--white-title);
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-contact-container {
  margin-right: 70px;
}

.footer-logo {
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  margin-right: 0;
}

.footer-adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-title);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-title);
  opacity: 60%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent);
}

.footer-adress-item {
  margin-bottom: 6px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

/* JOIN */

.join {
  display: block;
  margin-right: 93px;
}
.join-social-list {
  display: flex;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title);
  margin-bottom: 20px;
}

.icon-join-social {
  width: 20px;
  height: 20px;
}

.join-social-button {
  background-color: var(--social-btn-bg-scnd);
  fill: var(--social-btn-fill-scnd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-button:hover,
.join-social-button:focus {
  background-color: var(--active-btn-color);
}

.join-social-item:not(:last-child) {
  margin-right: 10px;
}

/* SUBSCRIBE */

.subscribe p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title);
  margin-bottom: 20px;
}

.subscribe-field {
  display: flex;
}

.subscribe-field input {
  width: 358px;
  height: 50px;
  background-color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  color: var(--white-title);
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field input:focus {
  border-color: var(--accent);
  outline: none;
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--active-btn-text);
  background-color: var(--active-btn-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--scnd-active-btn-bg);
}

/* ---------------------PORTFOLIO-------------------- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--unactive-btn-text);
  background-color: var(--unactive-btn-bg);
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--active-btn-text);
  background-color: var(--active-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.container-portfolio-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-title);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(-100%);
}

/* ---------------------MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background: var(--modal-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-close {
  width: 18px;
  height: 18px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.15;
  color: var(--title);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent);
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 20px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text);
  display: block;
  margin-bottom: 4px;
}

.modal-comments {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comments:focus {
  border-color: var(--accent);
}

.modal-checkbox-wrap {
  margin-bottom: 30px;
}

.check-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
  display: flex;
  align-items: center;
}

.check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
}

.input-check:checked + .check-label span {
  background-color: var(--accent);
  border: none;
}

.input-check:checked + .check-label .check-icon {
  fill: var(--social-btn-fill-scnd);
}
.modal-send-btn {
  width: 200px;
  height: 50px;
  background: var(--active-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--active-btn-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--scnd-active-btn-bg);
}
